# Virtual environment
venv/
.venv/

# Secrets
.env

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*
*.db
*.sqlite3
!data/raw/.gitkeep
!data/processed/.gitkeep

# OS / editor
.DS_Store
.vscode/